.single-img {
    max-height: 34rem;
    height: 34rem;
    max-width: 34rem;
}

.size-items {
    height: 4rem;
    width: 4rem;
    background-color: rgb(235, 234, 239);
}

.size-items:hover {
    background-color: rgb(213, 211, 218);
}


.size-div {
    place-items: start;
    place-content: start;
    width: 50%;
}

.star span {
    color: red;
}

.add-to-cart {
    width: 30%;
    height: 4rem;
    background-color: rgb(227, 14, 14);
}

.add-to-cart:hover {
    background-color: rgb(180, 10, 10);
}

.quantity {
    height: 4rem;
    width: 12rem;
}

@media screen and (max-width: 1426px) {
    .single-img {
        max-height: 24rem;
        height: 24rem;
        max-width: 34rem;
    }

    .pl-6 {
        padding-left: 1rem;
    }

    .this-nov {
        display: none;
    }

    .size-div.grid {
        display: none;
    }

    .add-to-cart {
        width: 50%;
    }
}

@media screen and (max-width: 726px) {
    .single-img {
        max-height: 19rem;
        height: 19rem;
        max-width: 34rem;
    }

    .pl-6 {
        padding-left: 1rem;
    }

}