.Navbar {
    height: 5rem;
    background-color: rgb(23, 24, 27);
}

.login-btn {
    height: 3rem;
    background-color: transparent;
    border: 1px solid rgb(79, 79, 125);
    color: white;
}

.search {
    width: 30rem;
    height: 3.1rem;
    background-color: transparent;
    border: 1px solid rgb(79, 79, 125);
}

.navs {
    font-size: 16px;
}

.search-icon {
    background-color: rgb(75, 75, 82);
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 0 100vh 100vh 0;
    cursor: pointer;
}

.cart-count {
    top: -1.7rem;
    left: 0.3rem;
    font-size: 25px;
    color: rgb(240, 6, 6);
}

@media screen and (max-width: 1326px) {
    .search {
        display: none;
    }
    .address-nav {
        display: none;
    }
}

@media screen and (max-width: 726px) {
    .c-repeat-5 {
        grid-template-columns: repeat(2, 1fr);
    }
}